body {
  background-color: #eacdc2;
  font-family: 'Source Sans Pro', sans-serif;
  color: #372549;
  font-size: small;
  line-height: normal;
  text-align: center;
}

.avatar-round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h1, h2, h3 {
  color: #220901;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: normal;
}

h2 {
  color: rgb(62, 83, 25);
}

p {
  color: #372549;
  font-weight: 400;
}

a {
  color:#BC3908;
  text-decoration: none;
}

a:hover {
  color: #ff9f1c;
}

.btn-yellow {
  color: #372549;
  background-color: #ff9f1c;
  border-radius: 10px;
  padding: 5px;
}

.btn-yellow:hover {
  color: #b75d69;
}

.container {
  width: 500px;
  margin: 0 auto
}

.card {
  background-color: #ecdad2;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.follow-card {
  color: darkolivegreen;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
